/* screen - venmo-split */

.venmo-split {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  height: 486px;
  min-width: 720px;
}

.venmo-split .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-1@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 486px;
  padding: 54px 51px;
  width: 720px;
}

.venmo-split .bytesizephoto {
  align-self: center;
  height: 84px;
  margin-top: 147px;
  width: 84px;
}

.venmo-split .venmo-split-1 {
  letter-spacing: 0;
  margin-top: 83px;
  min-height: 32px;
  width: 392px;
}

.venmo-split .text-7 {
  letter-spacing: 0;
  min-height: 32px;
  width: 392px;
}
